<%- include('../header') -%>
	<div class="container">
		<h1>
			Neue Visite erfassen
		</h1>
		<p>
			<form data-parsley-validate>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="username">
								Benutzername
							</label>
							<input
								type="text"
								class="form-control awesomplete"
								id="username"
								placeholder="Gib deinen Benutzername / dein Kürzel ein"
								required
								data-list="ksanihur, ksablabla"
							>
						</div>
						<div class="form-group">
							<label for="hospital">Was wurde getan?</label>
							<select class="custom-select form-control">
								<option selected value="1">Visitenbegleitung</option>
								<option value="2">Kardexvisite</option>
								<option value="3">Substitution</option>
								<option value="4">Kurvens...</option>
							</select>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="date">Datum</label>
							<input
								type="date"
								class="form-control"
								id="date"
								placeholder="Gib hier das Datum der Visite im Format dd.mm.YYYY an"
								required
								pattern="[0-9]{2}\.[0-9]{2}\.[0-9]{4}"
							>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="hospital">Spital</label>
							<select class="custom-select form-control">
								<option selected value="1">KSA</option>
								<option value="2">SPZ</option>
								<option value="3">RKB</option>
							</select>
						</div>
						<div class="form-group">
							<label for="station">Station</label>
							<input
								type="text"
								class="form-control awesomplete"
								id="station"
								placeholder="Gib hier den Namen der Station ein"
								required
								data-list="<%= locals.stations.join(',') %>"
							>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="discipline">Disziplin</label>
							<select class="custom-select form-control">
								<option selected value="1">AUG</option>
								<option value="2">GCH</option>
								<option value="3">HNO</option>
							</select>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">
					Erfassen
				</button>
			</form>
		</p>
	</div>
<%- include('../footer') -%>